/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
	Base styles: opinionated defaults
	========================================================================== */
html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
	resize: vertical;
}

/* ==========================================================================
	Browse Happy prompt
	========================================================================== */
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
	Author's custom styles
	========================================================================== */
body {
	background-image: url("/img/syl-room-floor-loop-smaller.gif");
    background-position: center top;
    background-size: 100% auto;
	margin: 0;
}

body>div:first-of-type {
	border-bottom: 5px solid black;
	background-color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	margin: 0 auto;
	padding: 25px 50px 40px;
	/*-webkit-box-shadow: 0 5px 10px #aaa;
	-moz-box-shadow: 0 5px 10px #aaa;
	box-shadow: 0 5px 10px #aaa;*/
}

header {
	margin: 0 auto;
	min-width: 100%;
	max-height: 5%;
}

/* Home page ==========================================================*/

#welcome {
	text-align: center;
	padding: 40px;
	letter-spacing: 2px;
}

.youtube {
    /*position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    /*padding-top: 25px;
    height: 0; */
    /*padding: 1.2%;*/
    background-color: rgba(5, 5, 5, 0.32);
    width: 560px;
 	height: 315px;
	margin: 5% auto;
	/*-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";*/
}
/*.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

.bandcamp {
	-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    width: 350px;
	height: 442px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: -175px;
}

.giphy-embed {
	position: relative;
    width:100%;
    height:100%;
    top:50%;
    padding-bottom: 10px;
    margin: 0 auto;
}


/*======================================================================*/

header+div>p {
	margin: 0 auto;
	padding: 20px 30px;
	max-width: 375px;
	text-align: justify;
	/*text-indent: 28px;*/
}

body>div:first-of-type a:link {
	color: white;
}

body>div:first-of-type a:visited {
	color: white;
}

body>div:first-of-type>header>h1 {
	font-family: "Wire One", sans-serif;
	color: black;
	font-size: 3em;
	font-weight: bold;
	letter-spacing: 4px;
}

nav>ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav>ul>li {
	display: inline;
	padding-right: 20px;
	position: relative;
}

nav>ul>li a:hover {
	text-decoration: underline;
}

/* DROP-DOWN MENU ===============================================

nav ul a:hover ul {
  visibility: visible;
}
nav ul a:hover ul :hover > a {
  color: #e6ff0d;
  background: #6cd7ff;
}
nav ul ul {
  visibility: hidden;
  height: 0;
  top: 31px;
  left: 0;
  width: 155px;
}
nav ul ul a {
  color: #000;
  height: auto;
  line-height: 1em;
  padding: 5px 10px;
  width: 120px;
}
nav ul li:hover ul {
  visibility: visible;
}

===============================================================*/

a:link {
	text-decoration: none;
}

.wrap {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

footer {
	margin: 170px 0 0 0;
	width: 100%;
	border-top: 5px solid black;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	line-height: 1em;
	float: left;
	bottom:0;
	z-index:999999;
	text-indent: 2%;
}

footer>div>h3 {
	text-indent: 2%;
	display: inline-block;
	padding-top: 1%;
}

address {
	font-style: normal;
	letter-spacing: 1px;
	padding-bottom: 2%;
	padding-right: 2%;
}

address>ul>li {
	font-size: 0.9em;
	list-style-type: none;
	display: inline-block;
	padding-right: 2%;
}

address>ul>li {
	margin-left: -39px;
}

address>ul>li:last-child {
	font-family: "Wire One", sans-serif;
	font-size: 1.41em;
	font-weight: bold;
	letter-spacing: 4px;
	float: right;
}

address>ul>li>a:link {
	color: white;
	text-decoration: none;
}

address>ul>li>a:visited {
	color: white;
	text-decoration: none;
}

address>ul>li>a:hover {
	color: lightseagreen;
	text-decoration: none;
}

address span {
	letter-spacing: 1px;
	font-size: .9em;
}

#secret {
	color: #050505;
	font-family: cursive;
}
/*==================================
	Gallery formatting
===================================*/
main>header>h1 {
	text-align: center;
	letter-spacing: 4px;
	margin-top: 60px;
	color: rgba(0, 0, 0, 0.8);
}

main>header>h2 {
	text-align: center;
	letter-spacing: 2px;
	font-size: 1.31em;
	color: rgba(0, 0, 0, 0.8);
}

main {
	margin: 0 auto;
	min-width: 100%;
	min-height: 480px;
}
/*main>div>p>a {
	color: cyan;
}*/

main>div>p>a {
	color: #425b83;
}

main>div>p>a:visited {
	color: #de3844;
}

main header+div:first-of-type {
	max-width: 100%;
	margin: 0 19px;
}

table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

td div {
	/*-webkit-box-shadow: 5px 5px 10px #aaa;
	-moz-box-shadow: 5px 5px 10px #aaa;
	box-shadow: 5px 5px 10px #aaa;*/

	border: 1px solid;
	border-color: rgba( 0, 0, 0, 0.0 );
	padding: 28px;
}

td div:hover {
	border: 1px solid rgba( 0, 0, 0, 0.3 );
	background: rgba( 0, 0, 0, 0 );
	padding: 23px;
	margin: 5px;
}

td {
	padding: 30px;
	text-align: center;
}

/*===========================================================================
	Portfolio page styling
	===========================================================================*/

#portfolio {
	margin-right: auto;
	margin-left: auto;
	width: 400px;
	margin-top: 75px;
}

img.portfolio {
	margin: 0 10px;
}

main header+div:first-of-type>div>a>img, main header+div:first-of-type>div>a>p {
	max-width: 480px;
	list-style-type: none;
	margin: 0;
	text-align: center;
	float: left;
	letter-spacing: 4px;
}

div.image-thing, div.image-thing2, div.image-thing3, div.image-thing4 {
	position: relative;
	float: left;

	/*-webkit-box-shadow: 5px 5px 10px #aaa;
	-moz-box-shadow: 5px 5px 10px #aaa;
	box-shadow: 5px 5px 10px #aaa;*/
}

div.image-thing>a>p {
	font-size: 1.21em;
	text-align: center;
	color: white;
	padding: 120px 0 0 0;
	margin: 0;
	background-color: #ddd;
	top: 0;
	left: 0;
	position: absolute;
	height: 181px;
	width: 200px;
	transition: all .3s;
	opacity: 0;
	background-color: transparent;
}

div.image-thing2>a>p {
	font-size: 1.21em;
	text-align: center;
	color: white;
	padding: 150px 0 0 0;
	margin: 0;
	background-color: #ddd;
	top: 0;
	left: 0;
	position: absolute;
	height: 266px;
	width: 400px;
	transition: all .3s;
	opacity: 0;
	background-color: transparent;
}

div.image-thing3>a>p {
	font-size: 1.21em;
	text-align: center;
	color: white;
	padding: 100px 0 21px 0;
	margin: 0;
	background-color: #ddd;
	top: 0;
	left: 0;
	position: absolute;
	height: 120px;
	width: 400px;
	transition: all .3s;
	opacity: 0;
	background-color: transparent;
}

div.image-thing4>a>p {
	font-size: 1.21em;
	text-align: center;
	color: white;
	padding: 100px 0 13px 0; /*dimensions of hover shadow*/
	margin: 0;
	background-color: #ddd;
	top: 0;
	left: 0;
	position: absolute;
	height: 112px;
	width: 400px;
	transition: all .3s;
	opacity: 0;
	background-color: transparent;
}

div.image-thing>a>p:hover, div.image-thing2>a>p:hover, div.image-thing3>a>p:hover, div.image-thing4>a>p:hover {
	opacity: 1;
	transition: opacity .1s ease-in;
	background-color: rgba( 0, 0, 0, 0.8 );
}

/* ==========================================================================
	About page styling
   ==========================================================================*/

.about p {
	color: #DEDEDE;
	background-color: rgba(5, 5, 5, 0.32);
}

/* ==========================================================================
	Helper classes
	========================================================================== */
/*
 * Image replacement
 */
.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
	*zoom: 1;
}

/* ==========================================================================
	EXAMPLE Media Queries for Responsive Design.
	These examples override the primary ('mobile first') styles.
	Modify as content requires.
	========================================================================== */
@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}
/* ==========================================================================
	Print styles.
	Inlined to avoid required HTTP connection: h5bp.com/r
	========================================================================== */
@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
		/* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
