#secretbody {
	padding: 6%;
}

.shadowed {
	-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

#logo {
	float: right;
	padding: 6%;
	position: relative;
}

.shadowed {
	cursor: cell;
}

#logo>a>p {
	font-size: 1.21em;
	text-align: center;
	color: white;
	padding: 10% 2% 0 0;
	margin: 0;
	background-color: #ddd;
	border-radius: 250px 150px 650px 200px;
	top: 63%;
	left: 9%;
	position: absolute;
	height: 60px;
	width: 200px;
	transition: all .3s;
	opacity: 0;
	background-color: transparent;
}

#logo>a>p:hover {
	opacity: 1;
	transition: opacity .1s ease-in;
	background-color: rgba( 0, 0, 0, 0.8 );
	font-family: cursive;
}

#grey {
	opacity: 0;
	height: 400px;
	width: 600px;
	padding: 5%;
	float: right;
}

#grey:hover {
	opacity: 1;
}

